.login-layout {
  background-image: url("../../../../assets/images/background/approval-background.jpg");
  background-position: center;
  height: 100vh;
}

.login-register {
  height: auto;
}

.login-box {
  background: rgba(255, 255, 255, .9) !important;
}

.login-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 50%;
}

.card-body {
  height: 750px;
}