.box-title {
   color: #be1521;
   font-weight: 300;
   font-size: 20px;
}

ul {
  list-style-type: none;
  color: #be1521 !important;
  padding-left: 15px;
}
ul li:before {
  font-family: 'FontAwesome';
  content: "\f15b";
  color: #be1521;
  margin-right: 0.3rem;
}

ul li a {
  padding: 0;
}


#input-file-now {
  display: inline-block;
  width: auto;
}


.brand_content_section-name::after {
  content: "";
  clear: both;
  display: block;
}

.form-group {
  display: block;
}

.projects_content_section {
  padding: 0 !important;
  /* font-family: Gotham-Black; */
}

.side_bar {
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(128, 128, 128, 0.45);
  padding: 25px;
}

.side_bar-filter {
  font-size: 22px;
  font-weight: 400;
}

.side_bar-filter-brand {
  padding-bottom: 10px;
}

.side_bar-checkbox-label {
  color: #7a8897;
}

.side_bar-checkbox-subheader {
  font-size: 11px;
  color: #54667a;
  font-weight: normal;
}


/* ul li:before {
    content: '✓';
  } */
.brand_content_section {
  padding: 26px 15px;
}

.brand_content_section-name {
  font-size: 22px;
}

.brand_content_section--header, .brand_content_section--buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.brand_content_section--header button {
  background-color: #53ce63;
  border: none;
  color: #fff;
  width: 100px;
  border-radius: 6px;
}

.brand_content_section--header button label {
  padding-left: 5px;
  padding-top: 5px;
}

.brand_content_section--buttons button {
  width: 178px;
  height: 36px;
  background-color: #fff;
  border: none;
  color: #7a8897;
}

.brand_content_section--list-data {
  height: auto;
  overflow-y: scroll;
  background-color: #ffffff;
}

/* content section of brands */
.content_section_list {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 73px;
}

.content_section_list--date {
  display: flex;
  justify-content: space-between;
}

.content_section_list--meterdiagram {
  padding-bottom: 20px;
}

.content_section_list-moreinfo {
  padding-bottom: 11px;
}

.content_section_list-moreinfo button {
  background-color: #53ce63;
  border: none;
  color: #fff;
  width: 147px;
  border-radius: 6px;
  margin-left: 21px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.content_section_list-moreinfo button i {
  font-size: 24px;
}

.content_section_list-version button {
  background-color: #009efb;
  border: none;
  color: #fff;
  width: 147px;
  border-radius: 6px;
  margin-left: 21px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.content_section_list-version button i {
  font-size: 24px;
}

.project_description {
  padding-left: 21px;
  line-height: 15px;
}

.project_description-header {
  padding-bottom: 10px;
}

.projects_image_preview {
  height: 172px;
}

.project_description_list {
  color: #7a8897;
  font-size: 14px;
}

.project_description_list label {
  font-weight: normal;
  width: 128px;
}

.project_description_list-fileimage {
  width: 10px;
  height: 10px;
  padding: 2px;
}

.project_description_list-contactimg {
  width: 20px;
  height: 19px;
  padding: 0px;
}

.content_section_list-border {
  border-bottom: 1px solid #556679;
  display: block;
  margin: 0 auto;
  width: 90%;
}

.card-outline-info .card-header  p {
  color:rgb(84, 102, 122) !important;
  font-size: 22px !important;
  position: absolute;
  left: 34%;
}

.card-outline-info .card-header  button {
  position: absolute;
  right: 10%;
  top: 5.5%;
}

.card-outline-info .card-header  {
  background: white;
  border-color: white;
  color:rgb(84, 102, 122) !important;
  font-size: 22px !important;  
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#show-btn {
  display: table-cell;
  vertical-align: middle;
}

.col-md-9 {
  display: inline-block;
}

label.control-label {
  display: inline-block;
}