<section class="d-flex login-layout" id="wrapper">
  <div class="login-register justify-content-center align-self-center">
    <div class="login-box card">
      <div [ngStyle]="{'height':router.url === '/auth/register' ? '640px' : '500px' }" class="card-body">
        <img class="login-logo" src="../assets/images/logo.svg" />
        <router-outlet *ngIf="ifother"></router-outlet>
        <app-login *ngIf="iflogin"></app-login>
        <a href="https://www.neuherz.at/de/" target="_blank"><img class="neuherz-logo" src="../assets/images/NP_Logo_2018_final_quer.png" /></a>
      </div>
    </div>
  </div>
</section>