.login-layout {
  background-image: url("../../../../assets/images/background/approval-background.jpg");
  background-position: center;
  height: 100vh;
}

.login-register {
  height: auto;
}

.login-box {
  background: rgba(255, 255, 255, .9) !important;
}

.login-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 50%;
}

.vf {
  width: 100%;
  margin: auto;
  text-align: center;
}

.container-fluid {
  padding: 130px 0;
}

p {
  font-size: 18px;
  overflow-wrap: normal;
}

#les {
  font-size: 12px;
  width: auto;
}